[Unit]
Description=Run QA Daily Log Summary nightly

[Timer]
OnCalendar=*-*-* 00:00:00
Persistent=true
Unit=qa-log-summary.service

[Install]
WantedBy=timers.target
